.collections-heading{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 27px;
}
.collections-heading h1{
    font-size: 2rem;
    font-weight: 700;
}
.collections-heading h2{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    opacity: 0.8;
}

.collection-container{
    padding: 0 4rem;
}

@media screen and (max-width: 468px){
    .collections-heading h1 {
        font-size: 1.4rem;
    }

    .collections-heading h2 {
        font-size: 0.9rem;
    }
}